@font-face {
    font-family: 'Inter';
    src: url(./assets/fonts/static/Inter-Regular.ttf) format('truetype'), url(./assets/fonts/static/Inter-Bold.ttf) format('truetype'), url(./assets/fonts/static/Inter-SemiBold.ttf) format('truetype'), url(./assets/fonts/Inter-VariableFont_slnt\,wght.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root{
    --pear: #B9DF43;
    --lima: #C5F630;
    --jet: #333333;
    --light_dark: #1F1F1F;
    --back: #141414;
    --desc: #CBCBCB;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', 'Times New Roman', Times, serif;
    color: var(--green_lima);
  }

body{
    width: 100%;
    height: 100vh;
    
    background-color: var(--back);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main{
    width: 512px;
    height: 820px;
    border-radius: 20px;
    background-color: var(--light_dark);

}

.main .avatar{
    width: 100%;
    height: 21%;
    display: flex;
    justify-content: center;
    align-items: end;

}

.main .avatar img{
    border-radius: 100px;
    width: 120px;
}

.main .infos{
    width: 100%;
    height: 17%;
    color: #fff;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.main .infos > h1 {
    font-weight: normal;
    font-size: 33px;
    margin-top: 39px;
}

.main .infos > p {
    font-size: 19.2px;
    font-weight: 900;
    color: var(--pear);
    margin-top: 10px;
}

.main .description{
    color: var(--desc);
    width: 100%;
    height: 4%;
    font-size: 19px;
    
    display: flex;
    justify-content: center;
    align-items: end;
}

.linksButtons{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;

    width: 100%;
    height: 57%;
}

.linksButtons .links{
    margin-top: 18px;
    background-color: var(--jet);
    border-radius: 13px;
    width: 90%;
    height: 65px;
    outline: none;
    border: none;
    color: #fff;
    font-size: large;
    font-weight: 700;
    text-decoration: none;
}

.linksButtons .links:hover{
    background-color: var(--lima);
    color: var(--jet);
}

@media (max-width: 600px) {
    html{
        height: 120vh;
        display: flex;
        align-items: center;
    }

    .main{
        width: 90%;
    }

    .main .description{
        font-size: 16px;
    }
}